
// Colors - Primary: 03a9f4
$primary: #03a9f4;
$p-light: #67daff;
$p-dark: #007ac1;
$tol: #000000;

// Colors - Secondary: 757575
$secondary: #757575;
$s-light: #a4a4a4a4;
$s-dark: #494949;
$tod: #ffffff;
